body{
    margin: 0;
}

.head{
    display: flex;
    width: 100%;
    background-color: #1F1F1F;
    color: #F1FFF8;
}

#logo_head{
    width: 4%;
    margin: 6px 0;
    margin-left: 50px;
}

.head h1{
    margin: auto 0;
    margin-left: 15px;
    font-family: "LilitaOne";
    font-size: 50px;
    width: 100%;
}

.head a{
    margin: auto 5px;
    width: 4%;
}

.head img{
    width: 90%;
    margin: 0;
}

#person_icon_id{
    margin-right: 4%;
}

.menu{
    background-color: #49494B;
    width: 100%;
    z-index: 100;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titles_page{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.titles_page li a{
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-family: 'LilitaOne';
    margin: 0 70px;
    text-decoration: none;
}

.titles_page li a:hover{
    color: #27BA73;
}

.menu_vertical{
    padding: 0;
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #ffffff;
}

.menu_vertical li a{
    color: #ffffff;
    font-size: 20px;
    font-family: 'LilitaOne';
    margin: 10px;
    text-decoration: none;
}

.titles_page li:hover .menu_vertical{
    background-color: #49494B;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    margin: 0 55px;
}

footer{
    background-color: #49494B;
    width: 100%;
}

.title_img{
    display: flex;
    width: 100%;
}

.img{
    width: 20%;
    margin: auto;
}

.title_img h2{
    color: #F1FFF8;
    width: 100%;
    font-size: 42px;
    font-family: "LilitaOne";
    padding: 0 10%;
}

.title_img img{
    width: 20%;
}

.content{
    display: flex;
    color: #F1FFF8;
    text-decoration: none;
    list-style: none;
}

.content_left{
    margin: auto;
    color: #F1FFF8;
    text-decoration: none;
    list-style: none;
}

.content_left h3{
    color: #F1FFF8;
    text-decoration: none;
    font-size: 30px;
    font-family: "LilitaOne";
}

.content_left li{
    list-style: none;
}

.content_left a{
    color: #F1FFF8;
    text-decoration: none;
    font-size: 24px;
    font-family: "Lato";
}

.content_right{
    margin: auto;
    color: #F1FFF8;
    text-decoration: none;
    list-style: none;
}

.content_right h3{
    color: #F1FFF8;
    text-decoration: none;
    font-size: 30px;
    font-family: "LilitaOne";
}

.content_right li{
    list-style: none;
}

.content_right a{
    color: #F1FFF8;
    text-decoration: none;
    font-size: 24px;
    font-family: "Lato";
}

.button_back{
    background-color: #27BA73;
    width: 6%;
    margin-left: 5%;
    border-radius: 5px;
}

.button_back a{
    text-decoration: none;
}

.button_back p{
    color: #F1FFF8;
    font-size: 20px;
    font-family: "LilitaOne";
    text-align: center;
}

.content_donation{
    display: block;
    width: 100%;
    border-top: #000000 solid 1px;
    background-color: #2e3e34;
    background-image: url(/Imagen/logo_amazon_life_white.png);
    background-size: 20%;
    background-position: 50% 65%;
    background-repeat: no-repeat;
}

.content_donation h2{
    font-family: "LilitaOne";
    font-size: 60px;
    color: #27BA73;
    text-align: center;
    margin-bottom: 10px;
}

.content_donation img{
    width: 20%;
    margin: 0 40%;
}

.content_donation h3{
    font-family: "LilitaOne";
    font-size: 30px;
    color: #27BA73;
    margin-left: 10%;
    text-decoration: underline;
}

.projects{
    display: flex;
}

.box_project{
    width: 30%;
    height: 400px;
    background-color: #282828;
    margin: 20px auto;
    border-radius: 15px;
    border: #31a066 solid 1px;
}

.box_project img{
    width: 100%;
    height: 300px;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.box_project a{
    display: block;
    text-decoration: none;
    width: 42%;
    margin: auto;
}

.box_project h3{
    width: 100%;
    font-family: "Lato";
    text-align: center;
    margin: 15px auto;
    letter-spacing: 3px;
}

