body{
    margin: 0;
}

.head{
    display: flex;
    width: 100%;
    background-color: #1F1F1F;
    color: #F1FFF8;
}

#logo_head{
    width: 4%;
    margin: 6px 0;
    margin-left: 50px;
}

.head h1{
    margin: auto 0;
    margin-left: 15px;
    font-family: "LilitaOne";
    font-size: 50px;
    width: 100%;
}

.head a{
    margin: auto 5px;
    width: 4%;
}

.head img{
    width: 90%;
    margin: 0;
}

#person_icon_id{
    margin-right: 4%;
}

.menu{
    background-color: #49494B;
    width: 100%;
    z-index: 100;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titles_page{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.titles_page li a{
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-family: 'LilitaOne';
    margin: 0 70px;
    text-decoration: none;
}

.titles_page li a:hover{
    color: #27BA73;
}

.menu_vertical{
    padding: 0;
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #ffffff;
}

.menu_vertical li a{
    color: #ffffff;
    font-size: 20px;
    font-family: 'LilitaOne';
    margin: 10px;
    text-decoration: none;
}

.titles_page li:hover .menu_vertical{
    background-color: #49494B;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    margin: 0 55px;
}

footer{
    background-color: #49494B;
    width: 100%;
}

.title_img{
    display: flex;
    width: 100%;
}

.img{
    width: 20%;
    margin: auto;
}

.title_img h2{
    color: #F1FFF8;
    width: 100%;
    font-size: 42px;
    font-family: "LilitaOne";
    padding: 0 10%;
}

.title_img img{
    width: 20%;
}

.content{
    display: flex;
    color: #F1FFF8;
    text-decoration: none;
    list-style: none;
}

.content_left{
    margin: auto;
    color: #F1FFF8;
    text-decoration: none;
    list-style: none;
}

.content_left h3{
    color: #F1FFF8;
    text-decoration: none;
    font-size: 30px;
    font-family: "LilitaOne";
}

.content_left li{
    list-style: none;
}

.content_left a{
    color: #F1FFF8;
    text-decoration: none;
    font-size: 24px;
    font-family: "Lato";
}

.content_right{
    margin: auto;
    color: #F1FFF8;
    text-decoration: none;
    list-style: none;
}

.content_right h3{
    color: #F1FFF8;
    text-decoration: none;
    font-size: 30px;
    font-family: "LilitaOne";
}

.content_right li{
    list-style: none;
}

.content_right a{
    color: #F1FFF8;
    text-decoration: none;
    font-size: 24px;
    font-family: "Lato";
}

.button_back{
    background-color: #27BA73;
    width: 6%;
    margin-left: 5%;
    border-radius: 5px;
}

.button_back a{
    text-decoration: none;
}

.button_back p{
    color: #F1FFF8;
    font-size: 20px;
    font-family: "LilitaOne";
    text-align: center;
}

.content_info{
    display: block;
    border-top: #000000 solid 1px;
}

.content_info h2{
    text-align: center;
    color: #000100;
    font-family: "Lato";
    font-size: 50px;
    margin: 60px auto;
    width: 90%;
}

.image_donation{
    background-image: url(/Imagen/image_proyect_02.png);
    background-size: 100%;
    height: 500px;
}

.content_info p{
    width: 30%;
    color: #f0f0f0;
    text-align: justify;
    font-family: "Lato";
    margin: 5px 10%;
    padding-top: 7%;
}

.button_donation_web{
    background-color: #27BA73;
    width: 10%;
    margin: 60px 20%;
    border-radius: 15px;
}

.button_donation_web a{
    text-decoration: none;
}

.button_donation_web p{
    color: #ffffff;
    font-size: 40px;
    font-family: "LilitaOne";
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}